[Unit]
Description=Prometheus Stackdriver Exporter
After=network.target

[Service]
User=stackdriver_exporter
Group=stackdriver_exporter
Environment="GOOGLE_APPLICATION_CREDENTIALS={{ google_application_creds_path }}"
WorkingDirectory={{ working_dir_path }}
ExecStart=/usr/local/bin/stackdriver_exporter --google.project-id="tp-gcp-project" --monitoring.metrics-type-prefixes="compute.googleapis.com" --web.listen-address="{{ stackdriverexporter_service_web_address }}"
Restart=always

[Install]
WantedBy=multi-user.target
