[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{prometheus_user}}
Group={{prometheus_user}}
ExecStart={{prometheus_bin_path}} \
  --config.file={{prometheus_config_path}} \
  --storage.tsdb.path="{{prometheus_storage_path}}" \
  --web.console.templates=/etc/prometheus/consoles \
  --web.console.libraries=/etc/prometheus/console_libraries \
  --web.listen-address=0.0.0.0:{{prometheus_service_port}} \
#  --web.enable-lifecycle \
#  --web.enable-admin-api \
  --web.external-url=https://localhost:1234
  --storage.agent.retention.max-time=30d
#  --storage.tsdb.retention.size=3GB

Restart={{prometheus_restart}}

[Install]
WantedBy=multi-user.target