[Unit]
Description=Prometheus
Documentation=https://github.com/Lusitaniae/apache_exporter
Wants=network-online.target
After=network-online.target
[Service]
Type=simple
User={{apache_user}}
Group={{apache_user}}
ExecReload=/bin/kill -HUP 
ExecStart=/usr/local/bin/apache_exporter --insecure --scrape_uri=http://localhost/server-status?auto --telemetry.address=0.0.0.0:{{apache_port}} --telemetry.endpoint=/metrics
SyslogIdentifier=apache_exporter
Restart={{apacheexporter_restart}}
[Install]
WantedBy=multi-user.target
