[Unit]
Description=AlertManager Server Service
Wants=network-online.target
After=network-online.target

[Service]
User={{alert_user}}
Group={{alert_user}}
Type=simple
ExecStart= {{aler_bin_path}} \
    --config.file {{alert_config_path}} \
    --storage.path {{alert_storage_path}}
#   --web.external-url http://0.0.0.0:{{aler_port}}
    --data.retention=120h 
[Install]
WantedBy=multi-user.target