{{ ansible_managed | comment }}

global:
  resolve_timeout: {{ alertmanager_resolve_timeout | quote}}

{% for key, value in alertmanager_smtp.items() %}
  smtp_{{ key }}: {{ value | quote }}
{% endfor %}

{% if alertmanager_inhibit_rules | length %}
inhibit_rules:
{{ alertmanager_inhibit_rules | to_nice_yaml(indent=2) }}
{% endif %}
route:
   {{ alertmanager_route | to_nice_yaml(indent=2, sort_keys=False ) | indent(2, False) }}

receivers:
  {{ alertmanager_receivers | to_nice_yaml(indent=2, sort_keys=False ) | indent(2, False) }}

