[Unit]
Description=Redis Exporter
Wants=network-online.target
After=network-online.target
[Service]
User=redis_exporter
Restart={{redis_exporter_service_restart}}
ExecStart=/usr/local/bin/redis_exporter -redis.addr redis://{{redis_bind}}:{{redis_exporter_service_port}} -redis.password {{redis_password}}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
[Install]
WantedBy=default.target
