modules:
  http_2xx:
    prober: {{prob}}
    timeout: {{outtime}}
    http:
      valid_status_codes: {{status_code}}
      method: GET
      fail_if_ssl: false
      fail_if_not_ssl: true
  tcp_connect:
    prober: {{prober}}
  pop3s_banner:
    prober: tcp
    tcp:
      query_response:
      - expect: "^+OK"
      tls: true
      tls_config:
        insecure_skip_verify: {{insecure_verify}}
  ssh_banner:
    prober: tcp
    tcp:
      query_response:
      - expect: "^SSH-2.0-"
  irc_banner:
    prober: tcp
    tcp:
      query_response:
      - send: "NICK prober"
      - send: "USER prober prober prober :prober"
      - expect: "PING :([^ ]+)"
        send: "PONG ${1}"
      - expect: "^:[^ ]+ 001"
  icmp:
    prober: icmp

