[Unit]
Description=Blackbox Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{blackbox_user}}
Group={{blackbox_user}}
Type=simple
ExecStart={{blackbox_bin_path}} --config.file {{blackbox_config_path}}

[Install]
WantedBy=multi-user.target
