[Unit]
Description=MongoDB Exporter
User={{mongo_user}}

[Service]
Typell =simple
Restart={{mongo_restart}}
ExecStart=/usr/local/bin/mongodb_exporter --collect-all  --mongodb.uri=mongodb://mongodb_exporter:mongodbexporter@{{mongo_server_privateip}}:{{mongo_port}}

[Install]
WantedBy=multi-user.target