[Unit]
Description=elasticsearch exporter
Wants=network-online.targetcd 
After=network-online.target
[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/elasticsearch_exporter \
  --web.listen-address=:{{ es_port }} \
  --web.telemetry-path=/metrics
SyslogIdentifier=elasticsearch_exporter
Restart=always
[Install]
WantedBy=multi-user.target