groups:
- name: AllInstances
  rules:
  - alert: HostCPUUsage
    expr: 100 - (avg by(instance,privateip) (rate(node_cpu_seconds_total{mode="idle",job='node_exporter',instance!~"test*"}[2m])) * 100) > 70
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{notification}}
    annotations:
      summary: "{{ summary }}: High CPU usage detected"
      description: "{{summary}}: CPU usage is above 70% (current value is: {{ vlaue }})"
