groups:
- name: elasticInstances
  rules:
  - alert: ElasticsearchRelocationShards
    expr: elasticsearch_cluster_health_relocating_shards > 0
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch relocation shards (instance {{ summary }})"
      description: "Number of relocation shards for 20 min\n  VALUE = {{ value_es }}"
  - alert: ElasticsearchInitializingShards
    expr: elasticsearch_cluster_health_initializing_shards > 0
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch initializing shards (instance {{ summary }})"
      description: "Number of initializing shards for 10 min\n  VALUE = {{ value_es }}"
  - alert: ElasticsearchUnassignedShards
    expr: elasticsearch_cluster_health_unassigned_shards > 0
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch unassigned shards (instance {{ summary }})"
      description: "Number of unassigned shards for 2 min\n  VALUE = {{ value_es }}"
