groups:
- name: elasticInstances
  rules:
  - alert: HostDiskWillFillIn4Hours
    expr:  predict_linear(node_filesystem_free_bytes{fstype!~"tmpfs",device!~"lxcfs",job="node_exporter", instance=~"es7.*"}[1h],4 * 3600) < 0
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Host disk will fill in 4 hours (instance {{ summary }})"
      description: "Disk will fill in 4 hours at current write rate\n  VALUE = {{ vlaue }}"
  - alert: HostDiskWillFillIn10Hours
    expr: predict_linear(node_filesystem_free_bytes{fstype!~"tmpfs",device!~"lxcfs",job="node_exporter", instance=~"es7.*"}[1h],10 * 3600) < 0
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Host disk will fill in 10 hours (instance {{ summary }})"
      description: "Disk will fill in 10 hours at current write rate\n  VALUE = {{ vlaue }}"
