groups:
- name: elasticInstances
  rules:
  - alert: ElasticsearchClusterRed
    expr: elasticsearch_cluster_health_status{color="red"} == 1
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch Cluster Red (instance {{ summary }})"
      description: "Elastic Cluster Red status\n  VALUE = {{ value_es }}"
  - alert: ElasticsearchClusterYellow
    expr: elasticsearch_cluster_health_status{color="yellow"} == 1
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch Cluster Yellow (instance {{ summary }})"
      description: "Elastic Cluster Yellow status\n  VALUE = {{ value_es }}"
