groups:
- name: elasticInstances
  rules:
  - alert: ElasticsearchPendingTasks
    expr: elasticsearch_cluster_health_number_of_pending_tasks > 0
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch pending tasks (instance {{ summary }})"
      description: "Number of pending tasks for 10 min. Cluster works slowly.\n  VALUE = {{ value_es }}"
