groups:
- name: elasticInstances
  rules:
  - alert: HostHighCpuLoad
    #expr: 100 - (avg by(instance) (irate(node_cpu_seconds_total{mode="idle",job="elastic_exporter"}[2m])) * 100) > 60
    expr: elasticsearch_process_cpu_percent > 60
    for: 1m
    labels:
      severity: {{severity_w}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Host high CPU load (instance {{ summary }})"
      description: "CPU load is > 60%\n  VALUE = {{ vlaue }}%"
  - alert: HostHighCpuLoad2
    expr: elasticsearch_process_cpu_percent > 80
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Host high CPU load (instance {{ summary }})"
      description: "CPU load is > 80%\n  VALUE = {{ vlaue }}%"
