groups:
- name: elasticInstances
  rules:
  - alert: High Memory
    expr: node_memory_MemAvailable_bytes{job="node_exporter", instance=~"es7.*"} / node_memory_MemTotal_bytes{job="node_exporter",instance=~"es7.*"} * 100 < 10
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{elastic_notification}}
    annotations:
       summary: "Host out of memory (instance {{ summary }})"
       description: "Node memory is filling up (< 10% left)\n  VALUE = {{ vlaue }}%"
