groups:
- name: elasticInstances
  rules:
  - alert: ElasticsearchHealthyNodes
    expr: elasticsearch_cluster_health_number_of_nodes < 3
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch Healthy Nodes (instance {{ summary }})"
      description: "Number of Healthy Nodes less than number_of_nodes\n  VALUE = {{ value_es }}"
  - alert: ElasticsearchHealthyDataNodes
    expr: elasticsearch_cluster_health_number_of_data_nodes < 3
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch Healthy Data Nodes (instance {{ summary }})"
      description: "Number of Healthy Data Nodes less than number_of_data_nodes\n  VALUE = {{ value_es }}"
