groups:
- name: elasticInstances
  rules:
  - alert: Elasticsearchinstancedown
    expr: elasticsearch_node_stats_up == 0
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch instance has down now {{ summary }})"
      description: "Elasticsearch instance has down now\n  VALUE = {{ value_es }}"
