groups:
- name: elasticInstances
  rules:  
  - alert: ElasticsearchDiskOutOfSpace
    expr: elasticsearch_filesystem_data_available_bytes / elasticsearch_filesystem_data_size_bytes * 100 < 10
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch disk out of space (instance {{ summary }})"
      description: "The disk usage is over 90%\n  VALUE = {{ vlaue }}%"
  - alert: ElasticsearchDiskSpaceLow
    expr: elasticsearch_filesystem_data_available_bytes / elasticsearch_filesystem_data_size_bytes * 100 < 20
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{elastic_notification}}
    annotations:
      summary: "Elasticsearch disk space low (instance {{ summary }})"
      description: "The disk usage is over 80%\n  VALUE = {{ vlaue }}%"
