groups:
- name: AllInstances
  rules:
  - alert: HostRootDiskOutOfInodes
    expr: node_filesystem_files_free{job="node_exporter",mountpoint ="/"} / node_filesystem_files{job="node_exporter",mountpoint="/"} * 100 < 25 and ON (instance, device, mountpoint) node_filesystem_readonly{job="node_exporter",mountpoint="/"} == 0
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{notification}}
    annotations:
      summary: Host out of inodes (instance {{ summary }})
      description: "Root Disk will be running out of available inodes (< 25% left)\n  VALUE = {{value_inodes}}."

