groups:
- name: MemoryAlerts
  rules:
  - alert: HostOutOfMemory
    expr: node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 < 8
    for: 1m
    labels:
      severity: {{severity_w}}
    annotations:
      title: 'Host out of memory (instance {{ summary }})'
      description: "Node memory is filling up (< 8% left)\n  VALUE = {{ value_inodes }}"

