groups:
- name: AllInstances
  rules:
  - alert: HostDiskWillFillIn4Hours
    expr: (node_filesystem_avail_bytes{job="node_exporter"} * 100) / node_filesystem_size_bytes{job="node_exporter"} < 10 and ON (instance, device, mountpoint) predict_linear(node_filesystem_avail_bytes{device!~"lxcfs",fstype!~"tmpfs",job="node_exporter"}[1h], 4 * 3600) < 0 and ON (instance, device, mountpoint) node_filesystem_readonly{job="node_exporter"} == 0
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{notification}}
    annotations:
      summary: "Host disk will fill in 4 hours (instance {{ summary }})"
      description: "Disk will fill in 4 hours at current write rate\n  VALUE = {{ vlaue }}"

