groups:
- name: AllInstances
  rules:
  - alert: InstanceDown
    expr: up{job='node_exporter', instance!~"test*"}==0
    for: 1m
    annotations:
      title: 'Instance {{ summary }} is down'
      description: '{{ summary }} of job {{ job_label }} has been down for more than 1 minute.'
    labels:
       severity: {{serverity_c}}
       notification: {{notification}}
