groups:
- name: MongoDBInstances
  rules:
  - alert: MongodbVirtualMemoryUsage
    expr: node_memory_MemAvailable_bytes{instance=~"mongo.*"} / node_memory_MemTotal_bytes{instance=~"mongo.*"} * 100 < 10
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{db_notification}}
    annotations:
      summary: MongoDB high memory usage (instance {{ summary }})
      description: "High memory usage\n  VALUE = {{ vlaue }}G"
