#groups:
#- name: MongoDBInstances
#  rules:
#  - alert: MongodbReplicationLag
#    expr: mongodb_mongod_replset_member_optime_date{state="PRIMARY",job="mongodb_exporter"} - ON (instance) mongodb_mongod_replset_member_optime_date{state="SECONDARY",job="GCP_Mongo_Instance"} > 10
#    for: 5m
#    labels:
#      severity: {{severity_w}}
#      notification: {{db_notification}}
#    annotations:
#      summary: MongoDB replication lag (instance {{ summary }})
#      description: "Mongodb replication lag is more than 10s\n  VALUE = {{ value_es }} for over 5 min."
