groups:
- name: HostDownAlert
  rules:
  - alert: MongodbDown
    expr: mongodb_up{job="mongodb_exporter"} == 0
    for: 0m
    labels:
      severity: {{serverity_c}}
      notification: {{db_notification}}
    annotations:
      summary: MongoDB Down (instance {{ summary }})
      description: "MongoDB instance is down\n  VALUE = {{ value_es }}"
