groups:
- name: MongoDBInstances
  rules:
  - alert: MongodbTooManyConnections
    expr: avg by(instance) (rate(mongodb_connections{state="current",job="mongodb_exporter"}[1m])) / avg by(instance) (sum (mongodb_connections{job="GCP_Mongo_Instance"}) by (instance)) * 100 > 75
    for: 1m
    labels:
      severity: {{serverity_c}}
      notification: {{db_notification}}
    annotations:
      summary: MongoDB too many connections (instance {{ summary }})
      description: "More than 75% of MongoDB connections are in use on\n  VALUE = {{ value_es }}%"
