groups:
- name: AllInstances
  rules:
  - alert: Mongo_Exporter_Down
    expr: up{job="mongodb_exporter"} == 0
    for: 1m
    annotations:
      title: 'Mongo_exporter Down on : {{ summary }}'
      description: 'Mongo_exporter on {{ summary }} of job {{ job_label }} has been down for more than 1 minute.'
    labels:
       severity: {{severity_w}}
       notification: {{notification}}
