groups:
- name: MysqlInstances
  rules: 
  - alert: MysqlSlaveIoThreadNotRunning
    expr: mysql_slave_status_master_server_id > 0 and ON (instance) mysql_slave_status_slave_io_running == 0
    for: 1m
    labels:
       severity: {{serverity_c}}
       notification: {{db_notification}}
    annotations:
       summary: "MySQL Slave IO thread not running (instance {{ summary }})"
       description: "MySQL Slave IO thread not running on {{ summary }}\n  VALUE = {{ value_es }}"
