groups:
- name: MysqlInstances
  rules:
  - alert: HostHighCpuLoad
    expr: 100 - (avg by(instance,privateip) (irate(node_cpu_seconds_total{mode="idle",job="mysql_exporter",instance!="purplle-db-reportingslave",  instance!~"purplle-prod-slave-2.*" ,instance!="purplle-db-reportingslave2", instance!="purplle-db-reportingslave3"}[2m])) * 100)  > 90
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{db_notification}}
    annotations:
      summary: "Host high CPU load (instance {{ summary }})"
      description: "CPU load is > 90%\n  VALUE = {{ vlaue }}%" 
  - alert: HostHighCpuLoad1
    expr: 100 - (avg by(instance,privateip) (irate(node_cpu_seconds_total{mode="idle",job="mysql_exporter",instance=~"purplle-prod-slave-2"}[2m])) * 100)  > 90
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{db_notification}}
    annotations:
      summary: "Host high CPU load (instance {{ summary }})"
      description: "CPU load is > 90%\n  VALUE = {{ vlaue }}%"
  - alert: HostHighCpuLoad-Newslaves
    expr: 100 - (avg by(instance,privateip) (irate(node_cpu_seconds_total{mode="idle",job="mysql_exporter",instance=~"purplle-prod-slave-2.*",instance!~"purplle-prod-slave-2"}[2m])) * 100)  > 60
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{db_notification}}
    annotations:
      summary: "Host high CPU load (instance {{ summary }})"
      description: "CPU load is > 60%\n  VALUE = {{ vlaue }}%"            
  - alert: ReportingSlaveHighCpuLoad
    expr: 100 - (avg by(instance,privateip) (irate(node_cpu_seconds_total{mode="idle",job="mysql_exporter", instance=~"purplle-db-reportingslave.*"}[2m])) * 100) > 95
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{db_notification}}
    annotations:
      summary: "Host high CPU load (instance {{ summary }})"
      description: "CPU load is > 95%\n  VALUE = {{ vlaue }}%"
  - alert: MasterHighCpuLoad
    expr: 100 - (avg by(instance,privateip) (irate(node_cpu_seconds_total{mode="idle",job="mysql_exporter",instance="prod-db-slave57-01"}[2m])) * 100) > 50
    for: 30s
    labels:
      severity: {{severity_w}}
      notification: {{db_notification}}
    annotations:
      summary: "Host high CPU load (instance {{ summary }})"
      description: "Master CPU load is > 50%\n  VALUE = {{ vlaue }}%"
  - alert: MasterCritHighCpuLoad
    expr: 100 - (avg by(instance,privateip) (irate(node_cpu_seconds_total{mode="idle",job="mysql_exporter",instance="prod-db-slave57-01"}[2m])) * 100) > 70
    for: 30s
    labels:
      severity: {{serverity_c}}
      notification: {{db_notification}}
    annotations:
      summary: "Host high CPU load (instance {{ summary }})"
      description: "Master CPU load is > 70%\n  VALUE = {{ vlaue }}%"
