groups:
- name: MysqlInstances
  rules:
  - alert: MysqlHighThreadsRunning
    expr: avg by (instance) (max_over_time(mysql_global_status_threads_running{job="mysql_exporter"}[5m])) / avg by (instance) (mysql_global_variables_max_connections{job="mysql_exporter"}) * 100 > 60
    for: 2m
    labels:
       severity: {{serverity_c}}
       notification: {{db_notification}}
    annotations:
       summary: "MySQL high threads running (instance {{ summary }})"
       description: "More than 60% of MySQL connections are in running state on {{ summary }}\n  VALUE = {{ value_es }}"
