groups:
- name: MysqlInstances
  rules:
  - alert: MysqlRestarted
    expr: mysql_global_status_uptime{job="GCP_mysql_Instance"} < 60
    for: 1m
    labels:
       severity: {{severity_w}}
       notification: {{db_notification}}
    annotations:
       summary: "MySQL restarted (instance {{ summary }})"
       description: "MySQL has just been restarted, less than one minute ago on {{ summary }}.\n  VALUE = {{ value_es }}"
