groups:
- name: AllInstances
  rules:
  - alert: MYSQL_Exporter_Down
    expr: up{job="mysql_exporter",instance!="ubuntu20-upgraded-prod-slave"} == 0
    for: 1m
    annotations:
      title: 'mysql_exporter Down on : {{ summary }}'
      description: 'mysql_exporter on {{ summary }} of job {{ job_label }} has been down for more than 1 minute.'
    labels:
       severity: {{severity_w}}
       notification: {{notification}}
