groups:
- name: MysqlInstances
  rules:
  - alert: MysqlTooManyConnections
    expr: avg by (instance) (max_over_time(mysql_global_status_threads_connected{job="mysql_exporter"}[5m])) / avg by (instance) (mysql_global_variables_max_connections{job="mysql_exporter"}) * 100 > 75
    for: 5m
    labels:
       severity: {{serverity_c}}
       notification: {{db_notification}}
    annotations:
       summary: "MySQL too many connections (instance {{ summary }})"
       description: "More than 75% of MySQL connections are in use on {{ summary }}\n  VALUE = {{ vlaue }}%"
