groups:
- name: MysqlInstances
  rules:
  - alert: MysqlSlowQueries
    expr: (changes(mysql_global_status_slow_queries{job="GCP_mysql_Instance"}[1h])) > 100
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{db_notification}}
    annotations:
       summary: "MySQL slow queries (instance {{ summary }})"
       description: "MySQL server is having some slow queries.\n  VALUE = {{ value_es }}"
