groups:
- name: MysqlInstances
  rules:
  - alert: High Memory
    expr: node_memory_MemAvailable_bytes{job="mysql_exporter", instance!~".*delayedslave.*", instance!~"purplle-prod-slave-[-+]?(23|24|29|26|28|30)", instance!~".*warehouse.*"} / node_memory_MemTotal_bytes{job="mysql_exporter", instance!~".*delayedslave.*", instance!~"purplle-prod-slave-[-+]?(23|24|29|26|28|30)", instance!~".*warehouse.*"} * 100 < 5
    for: 10m
    labels:
       severity: {{severity_w}}
       notification: {{db_notification}}
    annotations:
       summary: "Host out of memory (instance {{ summary }})"
       description: "Node memory is filling up (< 5% left)\n  VALUE = {{ vlaue }}%"
