groups:
- name: MysqlInstances
  rules:
  - alert: MysqlDown
    expr: mysql_up == 0
    for: 30s
    labels:
       severity: {{serverity_c}}
       notification: {{db_notification}}
    annotations:
       summary: "MySQL Down {{ summary }}"
       description: "MySQL instance is down on {{ summary }}\n  VALUE = {{ value_es }}"
