groups:
- name: MysqlInstances
  rules:
  - alert: HostOutOfInodes
    expr: node_filesystem_files_free{job="mysql_exporter",mountpoint ="/"} / node_filesystem_files{job="mysql_exporter",mountpoint ="/"} * 100 < 10
    for: 5m
    labels:
       severity: {{serverity_c}}
       notification: {{db_notification}}      
    annotations:
       summary: "Host out of inodes (instance {{ summary }})"
       description: "Disk is almost running out of available inodes (< 10% left)\n  VALUE = {{ value_es }}"




