groups:
- name: MysqlInstances
  rules:
  - alert: ProdSlaveReplicationLag
    expr: mysql_slave_status_seconds_behind_master{instance!~".+delayedslave.*",instance!~"warehouse.*"} - mysql_slave_status_sql_delay{instance!~".+delayedslave.*",instance!~"warehouse.*"} > 300
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{db_notification}}
    annotations:
       summary: "MySQL Slave replication lag (instance {{ summary }})"
       description: "MySQL replication lag on {{ summary }}\n  VALUE = {{ value_es }} sec for over 5 mins"


