groups:
- name: MysqlInstances
  rules:
  - alert: HostDiskWillFillIn4Hours
    expr: (node_filesystem_avail_bytes{job="mysql_exporter",instance!="ubuntu20-upgraded-prod-slave"} * 100) / node_filesystem_size_bytes{job="mysql_exporter",instance!="ubuntu20-upgraded-prod-slave"} < 10 and ON (instance, device, mountpoint) predict_linear(node_filesystem_avail_bytes{device!~"lxcfs",fstype!~"tmpfs",job="mysql_exporter"}[1h], 4 * 3600) < 0 and ON (instance, device, mountpoint) node_filesystem_readonly{job="mysql_exporter",instance!="ubuntu20-upgraded-prod-slave"} == 0
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{db_notification}}
    annotations:
      summary: "Host disk will fill in 4 hours (instance {{ summary }})"
      description: "Disk will fill in 4 hours at current write rate\n  VALUE = {{ vlaue }}"

  - alert: HostDiskWillFillIn10Hours
    expr: (node_filesystem_avail_bytes{job="mysql_exporter",instance!="ubuntu20-upgraded-prod-slave"} * 100) / node_filesystem_size_bytes{job="mysql_exporter",instance!="ubuntu20-upgraded-prod-slave"} < 10 and ON (instance, device, mountpoint) predict_linear(node_filesystem_avail_bytes{device!~"lxcfs",fstype!~"tmpfs",job="mysql_exporter"}[1h], 10 * 3600) < 0 and ON (instance, device, mountpoint) node_filesystem_readonly{job="mysql_exporter",instance!="ubuntu20-upgraded-prod-slave"} == 0
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{db_notification}}
    annotations:
      summary: "Host disk will fill in 10 hours (instance {{ summary }})"
      description: "Disk will fill in 10 hours at current write rate\n  VALUE = {{ vlaue }}"
  - alert: ubuntuHostDiskWillFillIn4Hours
    expr: (node_filesystem_avail_bytes{job="mysql_exporter",instance="ubuntu20-upgraded-prod-slave",mountpoint="/var/lib/mysql"} * 100) / node_filesystem_size_bytes{job="mysql_exporter",instance="ubuntu20-upgraded-prod-slave",mountpoint="/var/lib/mysql"}  < 10 and ON (instance, device, mountpoint) predict_linear(node_filesystem_avail_bytes{device!~"lxcfs",fstype!~"tmpfs",job="mysql_exporter"}[1h], 4 * 3600)  <  0 and ON (instance, device, mountpoint) node_filesystem_readonly{job="mysql_exporter",instance="ubuntu20-upgraded-prod-slave"}  == 0
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{db_notification}}
    annotations:
      summary: "Host disk will fill in 4 hours (instance {{ summary }})"
      description: "Disk will fill in 4 hours at current write rate\n  VALUE = {{ vlaue }}"

  - alert: ubuntuHostDiskWillFillIn10Hours
    expr: (node_filesystem_avail_bytes{job="mysql_exporter",instance="ubuntu20-upgraded-prod-slave",mountpoint="/var/lib/mysql"} * 100) / node_filesystem_size_bytes{job="mysql_exporter",instance="ubuntu20-upgraded-prod-slave",mountpoint="/var/lib/mysql"}  < 10 and ON (instance, device, mountpoint) predict_linear(node_filesystem_avail_bytes{device!~"lxcfs",fstype!~"tmpfs",job="mysql_exporter"}[1h], 10 * 3600) < 0 and ON (instance, device, mountpoint) node_filesystem_readonly{job="mysql_exporter",instance="ubuntu20-upgraded-prod-slave"}  == 0
    for: 5m
    labels:
      severity: {{severity_w}}
      notification: {{db_notification}}
    annotations:
      summary: "Host disk will fill in 10 hours (instance {{ summary }})"
      description: "Disk will fill in 10 hours at current write rate\n  VALUE = {{ vlaue }}"
      
      
      
      
