groups:
- name: redishost
  rules:
  - alert: RedisMissingMaster
    expr: count(redis_instance_info{role="master"}) == 0
    for: 5m
    labels:
       severity: {{serverity_c}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis missing master (instance {{ summary }})"
      description: "Redis cluster has no node marked as master.\n  VALUE = {{ vlaue }}"
