groups:
- name: redishost
  rules:
  - alert: RedisDown
    expr: redis_up{instance!~"redis-token-slave.*",instance!~"redis-0.*",instance!~"redis-prod-04",instance!~"redis-prod-05",instance!~"redis-prod-06",instance!~"redis-prod-09",instance!~"redis-prod-10",instance!~"redis-prod-12"} == 0
    for: 30s
    labels:
       severity: {{severity_w}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis down (instance {{ summary }})"
      description: "Redis instance is down\n  VALUE = {{ value_es }}"

  - alert: RedisDown
    expr: (redis_up{instance!~"redis-token-slave.*",instance!~"redis-0.*",instance!~"redis-prod-04",instance!~"redis-prod-05",instance!~"redis-prod-06",instance!~"redis-prod-09",instance!~"redis-prod-10",instance!~"redis-prod-12"} or absent(redis_up{instance!~"redis-token-slave.*",instance!~"redis-0.*"} == 0)) == 0
    for: 5m
    labels:
       severity: {{serverity_c}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis down (instance {{ summary }})"
      description: "Redis instance is down\n  VALUE = {{ value_es }}"

