groups:
- name: AllInstances
  rules:
  - alert: Redis_Exporter_Down
    expr: up{job="redis_exporter",instance!~"redis-managed-node.*",instance!~"redis-backup",instance!~"redis-token-slave.*",instance!~"redis-0.*",instance!~"redis-prod-07",instance!~"redis-prod-04",instance!~"redis-prod-05",instance!~"redis-prod-06",instance!~"redis-prod-09",instance!~"redis-prod-10",instance!~"redis-prod-12"} == 0
    for: 1m
    annotations:
      title: 'Redis_exporter Down on : {{ summary }}'
      description: 'Redis_exporter on {{ summary }} of job {{ job_label }} has been down for more than 1 minute.'
    labels:
       severity: {{severity_w}}
       notification: {{notification}}
