groups:
- name: redishost
  rules:

  - alert: RedisKeyspaceHits-redis
    expr: irate(redis_keyspace_hits_total{instance=~"redis-0.*"}[5m]) == 0
    for: 2m
    labels:
      severity: {{severity_w}}
      notification: {{redis_notification}}
    annotations:
      summary: "Redis too less keyspace hits on (instance {{ summary }})"
      description: "Redis instance has too less keyspace hits\n  VALUE = {{ value_redis }}, check connection from apps"

  - alert: RedisPersistentKeyspaceHits
    expr: irate(redis_keyspace_hits_total{instance=~"redis-persistent-product-hash.*"}[10m]) == 0
    for: 2m
    labels:
      severity: {{severity_w}}
      notification: {{redis_notification}}
    annotations:
      summary: "Redis too less keyspace hits on (instance {{ summary }})"
      description: "Redis instance has too less keyspace hits\n  VALUE = {{ value_redis }}, check connection from apps"

  - alert: RedisPersistentKeySpaceMisses
    expr: ( irate(redis_keyspace_misses_total{instance=~"redis-persistent-product-hash.*"}[10m]) / irate(redis_keyspace_hits_total{instance=~"redis-persistent-product-hash.*"}[10m]) ) * 100 > 5 
    for: 2m
    labels:
      severity: {{severity_w}}
      notification: {{redis_notification}}
    annotations:
      summary: "Redis too much keyspace miss on (instance {{ summary }})"
      description: "Redis instance has too much keyspace misses\n  VALUE = {{ value_redis }}, check connection from apps"
