groups:
- name: redishost
  rules:
  - alert: RedisDisconnectedSlaves
    expr: count without (instance, job) (redis_connected_slaves) - sum without (instance, job) (redis_connected_slaves) - 1 > 1
    for: 5m
    labels:
       severity: {{serverity_c}}
       notification: {{redis_notification}}
    annotations:
       summary: "Redis disconnected slaves (instance {{ summary }})"
       description: "Redis not replicating for all slaves. Consider reviewing the redis replication status.\n  VALUE = {{ value_es }}"
