groups:
- name: redishost
  rules:
  - alert: RedisTooManyConnections
    expr: redis_connected_clients{instance!~"redis-persistent-product-hash.*"} > 750
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis too many connections (instance {{ summary }})"
      description: "Redis instance has too many connections\n  VALUE = {{ value_es }}"
  - alert: RedisNotEnoughConnections
    expr: redis_connected_clients{instance!~"redis-persistent-product-hash.*"} < 5
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{redis_notification}}
    annotations:
       summary: "Redis not enough connections (instance {{ summary }})"
       description: "Redis instance should have more connections (> 5)\n  VALUE = {{ value_es }}"
