groups:
- name: redishost
  rules:
  - alert: RedisClusterDown
    expr: min(redis_cluster_state) == 0
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{redis_notification}}
    annotations:
      title: "Redis cluster is down"
      description: "Redis cluster is down"


  - alert:  EnterpriseRedisClusterDown
    expr: min(node_up{cluster="c21463.asia-south1-1.gcp.cloud.rlrcp.com"}) == 0
    for: 5m
    labels:
      severity: {{serverity_c}}
      notification: {{redis_notification}}
    annotations:
      title: "Enterprise Redis cluster is down"
      description: " Enterprise Redis cluster is down"        
