groups:
- name: redishost
  rules:
  - alert: High Memory
    expr: node_memory_MemAvailable_bytes{job="redis_exporter", instance=~"redis.*"} / node_memory_MemTotal_bytes{job="redis_exporter", instance=~"redis.*"} * 100 < 10
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{redis_notification}}
    annotations:
       summary: "Host out of memory (instance {{ summary }})"
       description: "Node memory is filling up (< 10% left)\n  VALUE = {{ vlaue }}%"

  - alert: Enterpriseredis High Memory
    expr: round((100 * node_available_memory{instance="redis-19418.internal.c21463.asia-south1-1.gcp.cloud.rlrcp.com:8070",job="redis-lis-prod"}/node_free_memory{instance="redis-19418.internal.c21463.asia-south1-1.gcp.cloud.rlrcp.com:8070",job="redis-lis-prod"}))  < 10
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{redis_notification}}
    annotations:
       summary: "Host out of memory (instance {{ summary }})"
       description: "Node memory is filling up (< 10% left)\n  VALUE = {{ vlaue }}%" 
