groups:
- name: redisfailover
  rules:
  - alert: redismasterchange-10.160.1.1
    expr: redis_instance_info{privateip="10.160.1.1",role="master"} != 1
    for: 1m
    labels:
       severity: {{serverity_c}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis master (instance {{ summary }}) has changed its status to slave"
      description: "Redis master.\n  VALUE = {{ value_es }} has changed its status to slave"

  - alert: redismasterchange-10.160.1.35
    expr: redis_instance_info{privateip="10.160.1.35",role="master"} != 1
    for: 1m
    labels:
       severity: {{serverity_c}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis master (instance {{ summary }}) has changed its status to slave"
      description: "Redis master.\n  VALUE = {{ value_es }} has changed its status to slave"

  - alert: redismasterchange-10.160.0.129
    expr: redis_instance_info{privateip="10.160.0.129",role="master"} != 1
    for: 1m
    labels:
       severity: {{serverity_c}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis master (instance {{ summary }}) has changed its status to slave"
      description: "Redis master.\n  VALUE = {{ value_es }} has changed its status to slave"
      
