groups:
- name: redishost
  rules:
  - alert: RedisReplicationBroken
    expr: delta(redis_connected_slaves[1m]) < 0
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis replication broken (instance {{ summary }})"
      description: "Redis instance lost a slave\n  VALUE = {{ value_es }}"
