groups:
- name: redishost
  rules:
  - alert: RedisClusterFlapping
    expr: changes(redis_connected_slaves[5m]) > 2
    for: 5m
    labels:
       severity: {{serverity_c}}
       notification: {{redis_notification}}
    annotations:
       summary: "Redis cluster flapping (instance {{ summary }})"
       description: "Changes detected in Redis replica connection. This can occur when replica nodes lose connection to the master and reconnect (a.k.a flapping).\n  VALUE = {{ value_es }}"
