groups:
- name: redishost
  rules:
  - alert: RedisOutOfMemory
    expr: redis_memory_used_bytes / redis_total_system_memory_bytes * 100 > 90
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis out of memory (instance {{ summary }})"
      description: "Redis is running out of memory (> 90%)\n  VALUE = {{ value_es }}%"

  - alert: EnterpriseRedisOutOfMemory
    expr: bdb_used_memory / bdb_memory_limit * 100 > 90
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{redis_notification}}
    annotations:
      summary: " Enterprise Redis out of memory (instance {{ summary }})"
      description: " Enterprise Redis is running out of memory (> 90%)\n  VALUE = {{ value_es }}%"      
