groups:
- name: redishost
  rules:
  - alert: RedisRejectedConnections
    expr: increase(redis_rejected_connections_total[1m]) > 0
    for: 5m
    labels:
       severity: {{serverity_c}}
       notification: {{redis_notification}}
    annotations:
      summary: "Redis rejected connections (instance {{ summary }})"
      description: "Some connections to Redis has been rejected\n  VALUE = {{ value_es }}"
