groups:
- name: AllInstances
  rules:
  - alert: RootDiskUsage
    expr: (100 - ((node_filesystem_avail_bytes{job="node_exporter",mountpoint="/",fstype!="rootfs"} * 100) / node_filesystem_size_bytes{job="node_exporter",mountpoint="/",fstype!="rootfs"})) > 90
    for: 5m
    labels:
       severity: {{severity_w}}
       notification: {{notification}}
    annotations:
      title: "Host out of disk space (instance {{ summary }})"
      description: "Root disk is almost full (< 10% left)  VALUE = {{ vlaue }}% full"

