[Unit]
Description=Prometheus exporter for Postgresql
Wants=network-online.target
After=network-online.target
[Service]
User=postgres_exporter
Group=postgres_exporter
WorkingDirectory={{postgres_working_path}} 
ExecStart=/usr/local/bin/postgres_exporter --web.listen-address=:{{postgres_port}} --web.telemetry-path=/metrics
Restart={{postgres_restart}}
[Install]
WantedBy=multi-user.target
